@import "tailwindcss";
@import "@nuxt/ui";

/* Global Page Transition (Windows 8 Metro slide style) */
.page-enter-active,
.page-leave-active {
  transition: all 0.4s cubic-bezier(0.1, 0.9, 0.2, 1);
}

.page-enter-from {
  transform: translateX(100px);
  opacity: 0;
}

.page-leave-to {
  transform: translateX(-100px);
  opacity: 0;
}
